doctype
html(lang='es')
	head
		title='CRUD Nuevo'
		link(href="../css/bootstrap.min.css" rel="stylesheet")
		link(href="../css/estilo.css" rel="stylesheet")
		script(src="../js/jquery-1.11.2.min.js")
		script(src="../js/bootstrap.min.js")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(charset='utf-8')
	body
		nav(class="navbar navbar-inverse")
				div(class="container-fluid")
					div(class="navbar-header")
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hid")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class="navbar-brand" href="#") CRUD
					div(class="collapse navbar-collapse" id="hid")
						ul(class="nav navbar-nav")
							li: a(href="/usuarios/crear") Nuevo 
							li: a(href="/usuarios") Consulta
						form(class="navbar-form navbar-right" role="search")
							input(type="text" class="form-control" placeholder="Busqueda..." style="margin-right:5px")
							button(type="submit" class="btn btn-default") Buscar 

		div(class="container")
			br
			hr(style="border-width: 2px;")
			div(id="myCarousel" class="carousel slide" data-ride="carousel")
				ol(class="carousel-indicators")
					li(data-target="#myCarousel" data-slide-to="0" class="active")
					li(data-target="#myCarousel" data-slide-to="1")
					li(data-target="#myCarousel" data-slide-to="2")
				div(class="carousel-inner" role="listbox")
					div(class="item active")
						img(src="img/1.jpg" class="img-responsive img-rounded")
						div(class="carousel-caption")
							h3 Adifonos
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					div(class="item")
						img(src="img/2.jpg"  class="img-responsive img-rounded")
						div(class="carousel-caption")
							h3 Radio
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					div(class="item")
						img(src="img/3.jpg"  class="img-responsive img-rounded")
						div(class="carousel-caption")
							h3 Musica
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			br
			hr(style="border-width: 2px;")
	footer(class="footer" )